data/raw/World_EEZ_v12_20231025_gpkg/* filter=lfs diff=lfs merge=lfs -text
data/raw/World_High_Seas_v2_20241010_gpkg/LICENSE_HIGH_SEAS_v2.txt filter=lfs diff=lfs merge=lfs -text
data/raw/World_High_Seas_v2_20241010_gpkg/High_Seas_v2.gpkg filter=lfs diff=lfs merge=lfs -text
